//colors

$green-color: hsl(75, 94%, 57%);
$white-color: hsl(0, 0%, 100%);
$grey-700-color: hsl(0, 0%, 20%);
$grey-800-color: hsl(0, 0%, 12%);
$grey-900-color: hsl(0, 0%, 8%);

//fonts

$font-family: Inter, sans-serif;
$weight-400: 400;
$weight-600: 600;
$weight-700: 700;

//screens

$mobile-screen: 375px;
$desktop-screen: 1440px;

//transitions 
$transition-time: 0.3s;
